name: Deploy Frontend (BUILD -> public_html)

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy BUILD folder to public_html
        uses: samkirkland/ftp-deploy-action@v4
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          port: ${{ secrets.FTP_PORT }}
          local-dir: ./BUILD/
          server-dir: /public_html/
          exclude: |
            **/.git*
            **/.github/**
